body {
  height: 100%;
}

.navbar-form {
  border-bottom: 0px;
  border-top: 0px;
}

.active {
  font-weight: bold;
}

.btn-hover {
  font-weight: normal;
  color: #333333;
  cursor: pointer;
  background-color: inherit;
  border-color: transparent;
}

.title {
  font-size: 2em;
  text-align: center;
}
