:plain
  var App = Ember.Application.create({
    LOG_TRANSITIONS: true,
    LOG_VIEW_LOOKUPS: true,
    LOG_ACTIVE_GENERATION: true
  });

  var attr = DS.attr;

  App.ApplicationAdapter = DS.RESTAdapter.extend({
    namespace: ''
  });

<!-- models -->

  App.Note= DS.Model.extend({
    title: attr(),
    note: attr()
  });


<!-- helpers -->
  var showdown = new showdown.Converter();

  Ember.Handlebars.helper('format-markdown', function(input) {
    if(input != null) {
      return new Ember.Handlebars.SafeString(showdown.makeHtml(input));
    }
  });


  Ember.Handlebars.helper('date', function(value, options) {
    if(value==null) {
      return "";
    }else{
      return new Ember.Handlebars.SafeString('<span>' + moment(value.replace(" ", "T").replace(" ", "")).fromNow() + '</span>');
    }
  });

<!-- router -->
  App.Router.map(function() {
    this.resource('notes', function() {
      this.resource('note', {path: ':note_id'});
    });
    this.resource('new', {path: 'new'});
  });

<!-- routes -->
  App.ApplicationRoute = Ember.Route.extend({
    actions: {
      search: function(params) {
        this.transitionTo('search', encodeURIComponent(params));
      },
      capture: function(params) {
        this.transitionTo('capture', encodeURIComponent(params));
      },
      refresh: function() {
        this.refresh();
      } 
    }
  });

  App.IndexRoute = Ember.Route.extend({
    beforeModel: function() {
      this.transitionTo('notes');
    }
  });

  App.NotesRoute = Ember.Route.extend({
    model: function() {
      return this.store.findAll('note');
    }
  });

  App.NoteRoute = Ember.Route.extend({
    model: function(params) {
      return notes.findBy('id', params.note_id);
    }
  });

  App.NewRoute = Ember.Route.extend({
    actions: {
      createNote: function() {
        var title = this.controller.get('title');
        var nt = this.controller.get('note');
        var note = this.store.createRecord('note', {
          title: title,
          note: nt
        });
        note.save();
      }
    }
  });

  App.RandomsRoute= Ember.Route.extend({
    model: function() {
      return this.store.findAll('random');
    },
    actions: {
      search: function(query) {
        return true;
      }
    }
  });
